.contactsBlock {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  animation: slideToTop 0.5s ease-out;
  .wrapper {
    background: #ffffff;
    padding: 15px 20px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #000000;
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.3);
    a {
      color: #000000;
    }
    .icons {
      display: flex;
      padding: 15px 0 0;
      justify-content: center;
      a {
        display: inline-block;
        svg {
          width: 24px;
          fill: #000000;
          padding-left: 10px;
        }
        &:first-child svg {
          padding: 0;
        }
      }
    }
  }
}

.contactsBlock.hidden {
  animation: slideToTop 0.5s ease-out;
}
