.preloader {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
  .container {
    p {
      color: white;
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
  }
}
