.scrollbar {
  position: fixed;
  right: 0;
  z-index: 999;
  width: 5px;
  height: calc(100vh - 14px);
  padding: 7px 7px;
  box-sizing: content-box;
  span {
    display: block;
    width: 100%;
    height: 0;
    background: #fff;
    border-radius: 7px;
    transition: height .2s ease-out;
  }
}

@media screen and (max-width: 767px) {
  .scrollbar {
    span {
      display: none!important;
    }
  }
}