.hidden {
  display: none !important;
}

.opacity {
  opacity: 0;
}

noscript {
  position: absolute;
  z-index: 1100;
  width: 100%;
  background: tomato;
  color: white;
  text-align: center;
  padding: 15px 20px;
}
