section {
  padding: 50px 0 60px;
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    .sectionName {
      color: #ffffff;
      font-size: 36px;
      &:after {
        content: ".";
      }
    }
    .content {
      margin-top: 50px;
      .projectsGallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .project {
          height: 300px;
          background-color: #0f0f0f;
          overflow: hidden;
          background-image: url("../assets/img/projects/emptyThumbnail.svg");
          &_wrapper {
            width: 100%;
            height: 100%;
            &:hover .wrapperOnHover {
              opacity: 1;
              .center {
                .title {
                  animation: showingToRight 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                }
                i {
                  animation: showingToRight 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                }
                $i: 1;
                .desc ul {
                  @while $i < 8 {
                    li:nth-of-type(#{$i}) {
                      animation-name: showingToRight;
                      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                      animation-duration: #{$i - 1 + 0.4}s;
                    }
                    $i: $i + 1;
                  }
                }
                .goTo {
                  pointer-events: all;
                  animation: showingToTop 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                }
                .githubLink {
                  pointer-events: all;
                  animation: showingToTop 0.8s cubic-bezier(0.19, 1, 0.22, 1);
                }
              }
            }
            .wrapperOnHover {
              opacity: 0;
              background: rgba(0, 0, 0, 0.7);
              height: 100%;
              color: #ffffff;
              padding: 0 40px;
              display: flex;
              align-items: center;
              transition: all 0.35s ease-out;
              .center {
                .title {
                  font-size: 24px;
                }
                i {
                  display: block;
                  font-style: italic;
                  font-weight: lighter;
                  font-size: 14px;
                  
                }
                .desc {
                  width: 100%;
                  padding: 10px 0 40px;
                  ul {
                    li {
                      &:before {
                        content: "â¦";
                        margin-right: 10px;
                      }
                    }
                  }
                }
                .goTo {
                  pointer-events: none;
                  background: #ffffff;
                  display: block;
                  padding: 10px 25px 8px 21px;
                  width: 100px;
                  color: black;
                  text-align: center;
                  text-decoration: none;
                  font-size: 16px;
                  transition: transform 0.2s ease-out;
                  cursor: pointer;
                  &:hover {
                    transform: scale(0.97);
                  }
                }
                .githubLink {
                  pointer-events: none;
                  background: #ffffff;
                  display: inline-block;
                  transition: transform 0.2s ease-out;
                  cursor: pointer;
                  padding: 7px 10px 8px;
                  margin-top: 5px;
                  a {
                    svg {
                      width: 20px;
                      transform: translateY(1px);
                    }
                  }
                  &:hover {
                    transform: scale(0.97);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1018px) {
  section .wrapper {
    max-width: none;
    width: 100%;
    .sectionName {
      width: 100%;
      padding: 0 60px;
      text-align: center;
    }
    .content .projectsGallery .project {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
