.header {
  width: 100%;
  padding: 35px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3001;
  &_logo {
    width: 120px;
    a {
      svg {
        width: 120px;
        fill: #fff;
      }
    }
  }
  &_nav {
    ul {
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin: 0;
        }
        a {
          font-size: 18px;
          text-decoration: none;
          color: white;
        }
      }
      .current {
        a {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: block;
    &_logo {
      margin: 0 auto;
    }
    &_nav {
      margin-top: 15px;
      text-align: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header &_logo a svg {
    fill: #ececec;
  }
}
