.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0 60px;
  .title {
    align-self: center;
    position: absolute;
    span {
      display: block;
      color: white;
      font-size: 38px;
    }
  }
  .bottom {
    display: block;
    align-self: flex-end;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      transform: translateY(3px);
    }
    svg {
      width: 25px;
      fill: #ffffff;
    }
  }
  .canvas {
    position: absolute;
    left: 0;
    z-index: -1000;
    transition: all 1s ease-out;
    .fill {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 300;
      background: rgba(0, 0, 0, 0.5);
    }
    canvas {
      filter: blur(3px);
    }
  }
}

@media screen and (max-width: 650px) {
  .hero .title span {
    font-size: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  .hero {
    .title span {
      color: #ececec;
    }
    .bottom svg {
      fill: #ececec;
    }
  }
}
